.headerCont {
    background-color: #06091d;
    margin: 0 auto;
    width: 100%;
    height: 60px;
    max-width: 100%;
    position: fixed;
    z-index: 6;
    -webkit-transition: all .6s ease-in-out;
    transition: all .6s ease-in-out;
    top: 0;
}

.headerCont.sticky {
    position: fixed;
    height: 60px;
}

.headerCont.sticky .menuCont {
    margin-top: 20px;
}

.headerCont.sticky .searchList {
    margin-top: 15px;
}

.headerCont.sticky .mainLogo img {
    max-width: 150px;
}

.headerInrCont {
    margin: 0 auto;
    position: relative;
    padding: 0 80px;
    justify-content: space-between;
}

.mainLogo {
    width: 190px;
    -webkit-transition: all .6s ease-in-out;
    transition: all .6s ease-in-out;
}

.mainLogo img {
    width: 190px;
    -webkit-transition: all .6s ease-in-out;
    transition: all .6s ease-in-out;
}

.searchList {
    margin-top: 13px;
    -webkit-transition: all .6s ease-in-out;
    transition: all .6s ease-in-out;
}

.inptTxt {
    background: transparent;
    border: 2px solid #ecbb5f;
    border-radius: 8px;
    font-size: 22px;
    padding: 2px 10px;
    max-width: 162px;
    box-sizing: border-box;
    color: #fff;
    font-family: 'GillSans-Italic';
}

.searchList i {
    font-size: 30px;
    color: #ecbb5e;
    display: inline-block;
    vertical-align: bottom;
    padding-left: 10px;
}

@media only screen and (max-width:1280px) {
    .headerInrCont {
        padding: 0 40px;
    }

}

@media only screen and (max-width:1024px) {
    .searchList {
        top: 20px;
        right: 0;
        position: absolute;
        left: 0;
        margin: 0 auto;
        text-align: center;
    }

    .mainLogo {
        position: relative;
        z-index: 11;
    }

    .headerInrCont {
        justify-content: space-between;
    }

}

@media only screen and (max-width:767px) {
    .headerInrCont {
        padding: 0 20px;
    }

    .headerCont.sticky .mainLogo img {
        max-width: 80px;
    }

    .mainLogo {
        width: 100px;
        position: relative;
        z-index: 11;
    }

    .searchList {
        top: 0px;
        right: -90px;
    }

    .inptTxt {
        max-width: 100px;
    }

}

@media only screen and (min-width:1025px) and (max-width:5000px) {
    .menuDesktop .navToggle {
        display: none;
    }
    .menuDesktop .menuWrap {
        position: relative;
        right: 0;
        top: 0;
        width: 100%;
    }
    .menuDesktop .menuList li,
    .menuDesktop .menuList li:first-child {
        width: auto;
    }
    .menuDesktop .menuList {
        top: 0;
    }
    .menuDesktop .menuWrap.open {
        background: none;
    }
}


/**menu starts**/

.menuCont {
    margin-top: 20px;
    -webkit-transition: all .6s ease-in-out;
    transition: all .6s ease-in-out;
}

#nav-toggle {
    position: relative;
    right: 20px;
    top: 12px;
    z-index: 19;
    cursor: pointer;
    z-index: 1001;
}

#nav-toggle span {
    width: 30px;
    transform: rotate(180deg);
    background: #ecbb5f;
    position: absolute;
    display: block;
    content: '';
    transition: all 0.2s ease-in-out;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
    cursor: pointer;
    height: 2px;
}

#nav-toggle span:before,
#nav-toggle span:after {
    cursor: pointer;
    height: 2px;
    width: 40px;
    background: #ecbb5f;
    position: absolute;
    display: block;
    content: '';
    transition: all 0.2s ease-in-out;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
}

#nav-toggle span:before {
    top: -9px;
}

#nav-toggle span:after {
    bottom: -9px;
}

#nav-toggle.active span {
    background-color: transparent;
}

#nav-toggle.active span:before,
#nav-toggle.active span:after {
    top: 0;
}

#nav-toggle.active span:before {
    transform: rotate(45deg);
    background: #fff;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
}

#nav-toggle.active span:after {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    background: #fff;
}

#nav-toggle.active span::after {
    background: #fff;
}

.menuItem {
    font-family: 'GillSans';
    color: #ecbb5e;
    font-size: 15px;
    padding: .2em .6em;
    position: relative;
    width: 100%;
    text-transform: uppercase;
}

.menuItem:hover,
a.menuItemActive {
    color: #ffffff;
}

.menuList li:first-child a {
    padding-left: 0;
}

.menuList li:last-child a {
    padding-right: 0;
}

.menuList ul {
    display: flex;
    justify-content: space-between;
    padding: 0 50px;
}

.menuWrap {
    position: fixed;
    width: 40%;
    right: -100%;
    top: 0;
    z-index: 400;
    transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
}

.menuWrap.open {
    background: #34365a;
    right: 0;
    overflow: hidden;
    transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
}

.menuList {
    padding: 0 0 0;
    position: relative;
    top: 4em;
}

.menuList li,
.menuList li:first-child {
    border-left: none;
    border-right: none;
    margin-bottom: 0;
    width: 100%;
    -webkit-transition: all .6s ease-in-out;
    transition: all .6s ease-in-out;
    border-right: 1px solid #ecbb5e;
    display: inline-block;
}

.menuList li {
    padding: 0 15px
}

.menuList li:first-child {
    padding-left: 0;
}

.menuList li:last-child {
    border-right: none;
    padding-right: 0;
}


/**menu ends**/

@media only screen and (max-width:1024px) {
    .menuWrap {
        width: 50%;
    }
    .menuList li,
    .menuList li:first-child {
        padding: 0;
        margin-bottom: 30px;
        border-right: 0;
        text-align: center;
    }
    .menuItem:hover,
    a.menuItemActive {
        background: rgba(253, 209, 32, 0.9);
        display: block;
    }
    .menuItem {
        padding: 10px 0;
        font-size: 18px;
    }
    .menuList ul {
        flex-wrap: wrap;
        padding: 0;
    }
    .menuList {
        padding: 0 0 0;
        top: 10em;
    }
    .menuWrap.open {
        height: 100%;
    }
}

@media only screen and (min-width:0px) and (max-width:767px) {
    .menuWrap {
        width: 100%;
    }
    .menuItem {
        font-size: 14px;
    }
}


/*@media only screen and (min-height:0px) and (max-height:300px) {
    .menuList {
        height: 200px;
        overflow: auto;
    }

}
*/

.cascade-slider_container {
    position: relative;
    width: 100%;
    height: 500px;
    margin: 0 auto;
    overflow: hidden;
}

.cascade-slider_item {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%) scale(0.3);
    transition: all 1s ease;
    opacity: 0;
    z-index: -1;
}

.cascade-slider_item.now .suposhanImg {
    opacity: 1;
}

.cascade-slider_item.next {
    left: 70%;
    transform: translateY(-50%) translateX(-150%) scale(0.7);
    opacity: 0.4;
    z-index: 1;
}

.cascade-slider_item.prev {
    left: 30%;
    transform: translateY(-50%) translateX(50%) scale(0.7);
    opacity: 0.2;
    z-index: 1;
}

.cascade-slider_item.now {
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%) scale(1);
    opacity: 1;
    z-index: 5;
}

.cascade-slider_arrow {
    display: inline-block;
    position: absolute;
    top: 50%;
    cursor: pointer;
    z-index: 5;
    text-indent: -9999px;
}

.cascade-slider_arrow-left {
    left: 0;
    width: 74px;
    height: 74px;
}

.cascade-slider_arrow-right {
    right: 0;
    width: 74px;
    height: 74px;
}

.cascade-slider_nav {
    position: absolute;
    bottom: -30px;
    width: 100%;
    text-align: center;
    z-index: 5;
    display: none;
}

.cascade-slider_dot {
    display: inline-block;
    width: 20px;
    height: 20px;
    margin: 1em;
    background: #ddd;
    list-style: none;
    cursor: pointer;
    border-radius: 50%;
    border: 2px solid #00938e;
    background: transparent;
}

.cascade-slider_dot:hover {
    background: #00938e;
}

.cascade-slider_dot.cur {
    background: #00938e;
}

@media only screen and (min-width:1500px) and (max-width:1920px) {
    .cascade-slider_item.next {
        left: 60%;
    }
    .cascade-slider_item.prev {
        left: 40%;
    }
}

@media only screen and (max-width:1024px) {
    .cascade-slider_arrow {
        background-size: 50%;
    }
}

@media only screen and (max-width:960px) {
    .cascade-slider_item.next {
        opacity: 0;
        left: 0;
    }
    .cascade-slider_item.cascade-slider_item.prev {
        opacity: 0;
        left: 0;
    }
}

@media only screen and (max-width:480px) {
    .cascade-slider_item.now {
        transform: translateY(-50%) translateX(-50%) scale(0.5);
    }
    .cascade-slider_arrow-right {
        right: -30px;
    }
    .cascade-slider_arrow-left {
        left: -30px;
    }
    .cascade-slider_container {
        height: 300px;
    }
    .sliderTxt {
        bottom: 120px;
    }
    .cascade-slider_arrow-left {
        left: -20px;
    }
    .cascade-slider_arrow-right {
        right: -20px;
    }
    .cascade-slider_arrow {
        background-size: 40%;
        top: 40%;
    }
}