<!--Pricing Tables-->
<section id="pricing" class="secondary-color text-center scrollto clearfix ">
  <div class="row clearfix">
      <div class="section-heading">
          <h3>YOUR CHOICE</h3>
          <h2 class="section-title">We have the right package for you</h2>
      </div>

  </div>
</section>
<!--End of Pricing Tables-->

<!--Pricing Block-->
<div class="pricing-block col-3 wow fadeInUp" data-wow-delay="0.4s" *ngFor="let blog of blogs">
	<div class="pricing-block-content">
		<h3>{{blog.title}}</h3>
		<p class="pricing-sub" >By {{blog.author}} | {{blog.pubDate | date: 'dd-MMM-yyyy' }} </p>
		<div class="pricing">
			<img src="{{blog.thumbnail}}" alt="" srcset="" width="100%" height="200px">
		</div>
		<ul>
			{{blog}}
		</ul>
		<a routerLink="/blog/{{blog}}" class="button">Read More</a>
	</div>
</div>
<!--End Pricing Block-->